{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Short URL</title>
</head>
<body>
    <h1 class="top-title">Short URL</h1>

    <div class="paste-box">
        <h3 class="paste">Paste the URL to be shortened</h3>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            
            <input id="sub-btn" type="submit" value="Shorten URL" name="Shorten URL">
            <p class="abt-text">This is a free tool to shorten a URL or reduce a link.</p>
            <p class="abt-text">Use our URL Shortener to create a shortened link making it easy to remember.</p>

            <p class="abt-text">
                This page is a clone of <a href="https://www.shorturl.at/" target="_blank">shorturl.at</a>
              </p>
        </form>
    </div>
</body>
</html>