{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short URL</title>
</head>
<body>
    <h1>Short URL</h1>

    <p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</p>

    <div>
        <h3>Your new short URL is:</h3>
        <a href="http://localhost:8000/short/{{url_object.short_url}}" target="_blank"><h2>http://localhost:8000/short/{{url_object.short_url}}</h2></a>
        <h3>Long URL: {{url_object.long_url}}</h3>

        <a href="{% url 'home' %}">Shorten another URL</a>
    </div>
</body>
</html>